/* credits for this part here go to julienraptor01, soursecorst, and moonself on discord */

/* ----------------------------------- X ----------------------------------- */

.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 12px;
    &::after {
      color: var(--text-secondary);
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}
:root {
    --custom-app-top-bar-height: 35px
}
[class^=bar] {
    padding: unset;
    > [class^=title] {
        position: relative;
        padding-left: 8px;
        > [class^=title] > [class^=icon] {
            height: 16px;
            width: 16px;
        }
    }
    > [class^=trailing] {
        gap: unset;
        > [class^=recentsIcon] {
            &:hover {
                background-color: var(--background-modifier-hover);
                color: var(--interactive-hover);
            }
            > [class^=button] {
                height: 16px;
                width: 16px;
                padding: 3px 12px;
                > [class^=iconBadge] {
                     bottom: 2px;
                     right: 11px;
                }
            }
        }
        > a[href="https://support.discord.com"] {
            display: none;
        }
        > [class^=button]
        {
            height: 16px;
            width: 16px;
            padding: 3px 12px;
            &:hover
            {
                background-color: var(--background-modifier-hover);
                color: var(--interactive-hover);
            }
        }
        > [class^=winButtons] {
            gap: unset;
            > [class^=winButton] {
                width: calc(var(--custom-app-top-bar-height) * 0.8);
            }
        }
    }
}

 /* Window Control Fancy Buttons */ 

.winButton_c38106:nth-of-type(1) svg,
.winButton_c38106:nth-of-type(2) svg,
.winButton_c38106:nth-of-type(3) svg {
    display: none;
}

.winButton_c38106 {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-right: 6px;
}
/* Minimize button */

.winButton_c38106:nth-of-type(1)::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: currentColor;
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    mask-size: 100%;
    -webkit-mask-size: 100%;
}
/* Maximize button */

.winButton_c38106:nth-of-type(2)::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: currentColor;
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M18 15l-6-6-6 6"/></svg>');
    mask-size: 100%;
    -webkit-mask-size: 100%;
}
/* Close button */ 

.winButton_c38106:nth-of-type(3)::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: currentColor;
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
    mask-size: 100%;
    -webkit-mask-size: 100%;
}

/* ----------------------------------- X ----------------------------------- */

.contents_c19a55 .messageContent_c19a55, .container_b7e1cb {
  background-color: #121214;
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 20px;
}

.messageContent_c19a55:empty {
  display: none !important;
}
.form_f75fb0 .channelTextArea_f75fb0 .scrollableContainer__74017 {
  max-height: 45vh;
  background-color: #121214;
  border-radius: 13px !important;
}
.form_f75fb0 .channelTextArea_f75fb0 {
  background-color: transparent;
  border-radius: 13px !important;
}
.sidebarRegion__23e6b {
  flex: none;
}
.contentColumn__23e6b, .customColumn__23e6b {
      background-color: #18181b !important;
    max-width: 100%;
    min-height: 100%;
}
.visual-refresh .contentRegionScroller__23e6b {
    background-color: #18181b;
}
.accountProfileCard__1fed1 .mask__68edb mask circle {
  display: none;
}
.avatar__1fed1 {
  top: 210px;

}
#vc-spotify-player {
    background: #18181b !important;
}

.messagesPopoutWrap__45690 {
    background-color: #121214 !important;
}

.subtitleContainer_f75fb0 > .title_f75fb0 {
    background-color: #141418 !important;
}

.page_c48ade .container__133bf > .container__9293f{
    background-color: #141418 !important;
}

.chat_f75fb0.page_c791b2 > .header_c791b2 {
    backgroundcolor: #141418 !important;
}

.chat_f75fb0 > .header__0b563 {
    background-color: #141418 !important;
}

.chat_f75fb0 > .container__9293f {
    background-color: #141418 !important;
}

.visual-refresh .header__45690 {
    background-color: #141418;
    border-bottom: 1px solid var(--border-subtle);
}

.visual-refresh .messageGroupWrapper__45690 .messageGroupCozy__45690 {
    background-color: #18181b;
    padding-bottom: var(--space-16);
    padding-top: var(--space-16);
}

.visual-refresh .mainCard_f369db {
    background: #1d1d20;
    border: 1px solid var(--border-subtle);
}
.visual-refresh .wrapper_f7ecac {
    background-color: #1e1e24;
    box-shadow: var(--shadow-border), var(--shadow-low);
}

.visual-refresh .container__37e49 {
    background: #18181b;
    box-sizing: border-box;
    gap: var(--space-xs);
    height: auto;
    justify-content: space-between;
    margin-left: -1px;
    min-height: var(--custom-rtc-account-height);
    padding: var(--space-xs);
}

.outer_bf1984.interactive_bf1984:hover {
    background-color: #1a1a1d !important
}

.menu_c1e9c4 {
    background: #19191b;
    border-radius: 4px;
    box-shadow: var(--shadow-high);
    box-sizing: border-box;
    cursor: default;
    display: flex
;
    height: auto;
    max-height: calc(100vh - 32px);
    z-index: 1;
}

.body__24502 {
    background-color: #18181b !important;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: hidden;
}

header {
      background-color: #18181b !important;
    display: block;
    unicode-bidi: isolate;
}

.modeSelected__2ea32 .link__2ea32 {
  background-color: #242427 !important;
}

.visual-refresh .header_f37cb1 {
    background-color: #121214 !important;
    align-items: center;
    border-bottom: 1px solid var(--border-subtle);
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    height: var(--custom-channel-header-height);
    padding: var(--space-md);
    padding-right: calc(var(--space-xs) + var(--space-8));
    z-index: 1;
}

.base__13533 {
    background-color: #18181b !important;
    border-radius: 3px;
    padding: 8px;
}

.autocompleteRowVertical__13533 {
 background-color: #18181b !important;
}

.scrollerBase_d125d2 {
    background-color: #18181b !important;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 0;
    position: relative;
}

.visual-refresh .scroller_ef3116 {
        background-color: #18181b !important;
    padding-bottom: var(--space-xs);
    padding-top: 0;
}

.visual-refresh .scroller_ef3116 {
    background-color: #121214 !important;
    padding-bottom: var(--space-xs);
    padding-top: 0;
}

.interactive__972a0:active, .interactiveSelected__972a0 {
    background-color: #202022 !important;
    color: var(--text-default);
}

.footerButtonColor__7f9c0 {
background-color: #18181b !important;
}

.footer__7f9c0 {
    background-color: #18181b !important;
    border-top: 0px solid var(--user-profile-border);
}

.card_b32ca4, .overlay_b32ca4 {
    background-color: #202022 !important;
    padding: 12px;
}

.section__1f6ca {
    background-color: #202022 !important;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.card__39ec2 {
    background-color: #202022 !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: visible;
    padding: 10px;
    position: relative;
}

.menuOverlay_ce8328 {
    background-color: #202022 !important;
    padding: 10px;
}
