/*
  * @name Discord Refresh Revamp
  * @author zzvzs
  * @version 1.4
  * @description Revamp of Visual Refresh
  * @authorId 499287211381096458
*/

/* 
PLEASE for the love of god use Dark theme (not Ash, Light, or Onyx) if 
         you don't want to have to bleach your eyes later
*/

/*
also it was specifically created for the default Dark theme,
        so other color themes are not supported for now
         (i can change that if anyone really wants it)
*/

/* main imports for the theme, don't touch those) */

@import url(https://raw.githubusercontent.com/ctbug/Discord-Refresh-Revamp/refs/heads/main/base.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* addons (which are recommended, but not necessary */

@import url(https://raw.githubusercontent.com/ctbug/Discord-Refresh-Revamp/refs/heads/main/ADDON-abbie-config.css);
@import url(https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css);
@import url(https://raw.githubusercontent.com/ctbug/Discord-Refresh-Revamp/refs/heads/main/UserPanelTweaks.css);

/* other variables, change whatever if you need to */

:root{

/* UI font */

    --font-primary: Quicksand;
    --font-display: var(--font-primary);

/* some colors (idfk why i even put those here but it works so whatever */

    --chat-background-default: #121214 !important;
    --bg-base-secondary: #151518 !important;
    --background-base-lower: #18181b !important;
    --activity-card-background: #151518 !important;
    --background-primary: #141418 !important;
    --background-surface-high: #121214 !important;
    --background-mod-subtle: #18181b !important;

}
